@font-face {
    font-family: cubano;
    src: url(../fonts/Cubano.ttf);
}
@font-face {
    font-family: castoro;
    src: url(../fonts/CastoroTitling.ttf);
}
@font-face {
    font-family: greatVibes;
    src: url(../fonts/GreatVibes.ttf);
}
@font-face {
    font-family: homemadeApple;
    src: url(../fonts/HomemadeApple.ttf);
}
@font-face {
    font-family: irishGrover;
    src: url(../fonts/IrishGrover.ttf);
}
@font-face {
    font-family: barcode;
    src: url(../fonts/LibreBarcode39.ttf);
}
@font-face {
    font-family: luckiestGuy;
    src: url(../fonts/LuckiestGuy.ttf);
}
@font-face {
    font-family: redacted;
    src: url(../fonts/RedactedScript.ttf);
}
@font-face {
    font-family: rubikPixels;
    src: url(../fonts/RubikPixels.ttf);
}
@font-face {
    font-family: sedgwickAve;
    src: url(../fonts/SedgwickAve.ttf);
}
@keyframes font-changer {
    0% {
        font-family: cubano;
    }
    10% {
        font-family: castoro;
        color: #AB0223;
    }
    20% {
        font-family: greatVibes;
        color: #EB8600;
    }
    30% {
        font-family: homemadeApple;
        color: #C19489;
    }
    40% {
        font-family: irishGrover;
        color: #015E72;
    }
    50% {
        font-family: barcode;
        color: #FFFFFF;
    }
    60% {
        font-family: luckiestGuy;
        color: #AB0223;
    }
    70% {
        font-family: rubikPixels;
        color: #EB8600;
    }
    80% {
        font-family: sedgwickAve;
        color: #C19489;
    }
    90% {
        font-family: redacted;
        color: #015E72;
    }
    100% {
        font-family: cubano;
        color: #FFFFFF;
    }
}
body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "futura-pt";
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
.navbar-toggler {
    margin: 0 auto;
}
.nav-link {
    text-align: center;
    padding: 5% 0;
}
#header {
    width: 100vw;
    height: 968px;
    background-position: center;
    background-image: url(../images/hero-image-mobile.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#pageTitle {
    font-family: cubano;
    text-align: center;
    align-self: center;
    padding-top: 70%;
}
#pageTitle h1 {
    font-size: 48px;
}
#pageTitle h2 {
    font-size: 24px;
    opacity: 75%;
}
#header p, .home-text {
    padding: 10%;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 60%);
    margin-bottom: 0;
    text-align: center;
}
.home-section {
    width: 100%;
    height: 968px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: center;
}
.home-section h3 {
    font-size: 48px;
    font-family: cubano;
    padding-top: 50px;
}
.home-section p {
    font-size: 16px;
}
.home-section a {
    text-decoration: underline;
}
#danielsHome {
    background-image: url(../images/daniels-bg-mobile.png);
}
#castHome {
    background-image: url(../images/cast-bg-mobile.png);
}
#a24Home {
    background-image: url(../images/a24-bg-mobile.png);
}
#premiosHome {
    background-image: url(../images/premios-bg-mobile.png);
}
#jumpingPadHome {
    background-image: url(../images/jumping-pad-bg-mobile.png);
}
footer {
    text-align: center;
    padding: 5%;
}
.socials {
    display: flex;
    justify-content: space-evenly;
    font-size: 32px;
    margin: 2% 5%;
}
@media only screen and (min-width:600px) {

}

@media only screen and (min-width: 768px) {

    .navbar {
        font-size: 12px;
    }
    .navbar-nav {
        width: 80%;
        justify-content: space-evenly;
        margin: 0 auto;
    }
    .nav-link {
        padding: 0 20px;
    }
    #header {
        width: 100vw;
        height: 1200px;
        background-position: 0 20%;
        background-image: url(../images/hero-image.png);
    }
    #pageTitle {
        text-align: right;
        align-self: flex-end;
        padding-top: 15%;
        padding-right: 50px;
    }
    #pageTitle h1 {
        font-size: 96px;
        padding: 0;
    }
    #pageTitle h1:hover, .home-section h3:hover {
        animation-name: font-changer;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
    }
    #pageTitle h2 {
        font-size: 48px;
    }
    #header p, .home-text {
        font-size: 20px;
        padding: 5% 10%;
    }
    .home-section {
        height: 808px;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 0 100px;
    }
    .home-section h3 {
        font-size: 96px;
    }
    .home-section p {
        font-size: 20px;
    }
    #danielsHome {
        background-image: url(../images/daniels-bg.png);
    }
    #castHome {
        background-image: url(../images/cast-bg.png);
        justify-content: flex-end;
    }
    #a24Home {
        background-image: url(../images/a24-bg.png);
    }
    #premiosHome {
        background-image: url(../images/premios-bg.png);
        justify-content: flex-end;
    }
    #jumpingPadHome {
        background-image: url(../images/jumping-pad-bg.png);
        justify-content: center;
    }
    footer {
        padding:0.5%;
    }
    .socials {
        display: flex;
        justify-content: space-evenly;
        font-size: 32px;
        margin: 1% 30%;
    }
    footer p {
        font-size: 16px;
    }

}