@font-face {
    font-family: cubano;
    src: url(/fonts/Cubano.ttf);
}
body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "futura-pt";
}
.navbar {
    font-size: 12px;
}
.navbar-nav {
    width: 80%;
    justify-content: space-evenly;
    margin: 0 auto;
}
.nav-link {
    padding: 0 20px;
}
#header {
    width: 100vw;
    height: 1200px;
    background-position: 0 20%;
    background-size: cover;
    background-image: url(/images/hero-image.png);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#pageTitle {
    font-family: cubano;
    text-align: right;
    align-self: flex-end;
    padding-top: 15%;
    padding-right: 50px;
}
#pageTitle h1 {
    font-size: 96px;
}
#pageTitle h2 {
    font-size: 48px;
    opacity: 75%;
}
#header p {
    padding: 5% 10%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 60%);
    margin: 0;
}